html,
body {
    height: 100%;
    margin: 0;
    overflow-y: scroll;
}

body {

    background: #3C2418;
    color: whitesmoke;
}

header {

    font-family: "Playfair Display", serif; 
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    font-size: x-large;
    color: #e6d5cf;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 65px;
}

nav li {
    margin-left: 15px;
}

#search {
    padding: 5px 25px;
    font-size: medium;
    border: 3px solid white;
    border-radius: 1px;
    background: transparent;
    color: white;
    text-align: center;
}

#searching {
    padding: 12px;
    align-items: center;
    gap: 25px;
    display: flex;
}

.icon {
    font-size: x-large;
}

#main {
    display: flex;

}

#hero {
    margin-left: 100px;
    padding: 30px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

#about-txt{
    margin-left: 50px;
    color: #e6d5cf;
    margin-top: 140px;
    font-family: "Segoe UI Light";
    font-size: 30px;
    letter-spacing: 4px;
}

h3{
    padding-top: 3px;
    font-size:25px;
}

.hero-img {
    width: 590px;
    height: 600px;
    padding: 25px;
    border: 3px solid white;
    border-radius: 1px;

}


p{
    font-size: small;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 580px;
    margin-left: 2px;
    margin-top: 30px;
    letter-spacing: 1px;
}


#mission {
  background: #3C2418;
  color: whitesmoke;
  padding: 30px 20px; 
  font-family: "Segoe UI Light", sans-serif;
}

.mission-container {
  display: flex;
  justify-content: space-between;
  color: #e6d5cf;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap; 
  gap: 20px;
}

.mission-text {
  flex: 1 1 400px; 
  
}

#mission h2 {
  font-size: 48px;
  margin-bottom: 50px;
  text-align: left; 
  letter-spacing: 4px;
}

.mission-points {
  display: flex;
  flex-direction: column; 
  gap: 40px;
  color: whitesmoke;
}

.mission-points p {
  font-size: 13px;
  line-height: 1.6;
  letter-spacing: 1px;
}


#point-1{
    display: flex;
    gap: 20px;
    

}
#point-2{
    display: flex;
    gap: 20px;
    
}

#point-3{
    display: flex;
    gap: 20px;
    
}


.mission-number{
    font-size: 40px;
    font-family: "Playfair Display", serif; ;
    color: #e6d5cf;
}


.mission-images {
  flex: 1 1 400px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 70px;
  gap: 10px;
}

.mission-images img {
  width: calc(50% - 10px); 
  object-fit: cover; 
}

#img-1 { height: 440px; }
#img-2 { height: 280px; }
#img-3 { height: 240px; margin-top: 200px; }
#img-4 { height: 440px; }


@media (max-width: 992px) {

    nav ul {
        gap: 4px;
        margin-bottom: 10px;
    }

    .logo {
        height: 10px;
        margin-bottom: 30px;
    }

    #search {
        padding: 2px 18px;
        font-size: medium;
        border: 2px solid white;
        border-radius: 1px;
        background: transparent;
        color: white;
        text-align: center;
    }

    #searching {
        padding: 10px;
        align-items: center;
        gap: 20px;
        display: flex;
    }

    #main {
        display: flex;
        flex-direction: column;

    }

    #hero {
        margin-left: 0;
        text-align: center;

    }

    #about-txt{
    margin-left: 50px;
    color: #F3E7DF;
    margin-top: 0px;
    font-family: "Segoe UI Light";
    font-size: 30px;
    letter-spacing: 4px;
}

h3{
    padding-top: 10px; font-size:25px;
}



.mission-container {
    flex-direction: column;
    align-items: center;
  }

  .mission-text, .mission-images {
    flex: 1 1 100%;
  }

  .mission-images {
    justify-content: center;
  }

  .mission-images img {
    width: 45%;
    
  }
}

 @media (max-width: 740px) {
    header {
        flex-direction:column

    }

    .logo {
        height: 30px;
        margin-bottom: 20px;
    }

    nav ul {
        gap: 4px;
        margin-bottom: 10px;
    }

    #searching {
        padding: 12px;
        align-items: center;
        gap: 30px;
        display: flex;

    }

    #main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 16px;
        margin-left: 0px;
        margin-top: 16px;
        font-size: small;
        align-items: center;

    }

    .hero-img {
        width: 360px;
        height: 400px;
        padding-top: 0px;
        padding: 10px;
        border: 3px solid white;
        border-radius: 1px;

    }

    #about-txt{
    
    color: #F3E7DF;
    margin-left: 0;
    margin-top: 10px;
    font-family: "Segoe UI Light";
    font-size: 14px;
    letter-spacing: 2px;
    padding: 3px;
}

h3{
    padding-top: 20px;
    font-size:18px;
}

p{
    font-size: small;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: auto;
    margin-left: 0px;
    margin-top: 30px;
    letter-spacing: 1px;
    padding: 5px;
}

 #mission {
    padding: 20px;
  }

  #mission h2 {
    font-size: 36px;
  }

  .mission-points p {
    font-size: 12px;
  }

  .mission-images img {
    width: 80%;
    margin-left: 0px;
  }

  #point-1, #point-2, #point-3{
    display: flex;
    gap: 2px;
    
}

}


@media (max-width: 480px) {
    header {
        flex-direction:column

    }

    .logo {
        height: 30px;
        margin-bottom: 20px;
    }

    nav ul {
        gap: 4px;
        margin-bottom: 10px;
    }

    #searching {
        padding: 12px;
        align-items: center;
        gap: 30px;
        display: flex;

    }

    #main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    
    .hero-img {
        width: 260px;
        padding-top: 40px;
        padding: 10px;
        border: 3px solid white;
        border-radius: 1px;

    }

    #about-txt{
    text-align: center;
    color: #F3E7DF;
    margin-left: 0;
    margin-top: 10px;
    font-family: "Segoe UI Light";
    font-size: 14px;
    letter-spacing: 2px;
    padding: 3px;
}


p{
    font-size: small;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    width: auto;
    margin-left: 0px;
    margin-top: 30px;
    letter-spacing: 1px;
    padding: 5px;
}



  #mission h2 {
    font-size: 28px;
  }

  .mission-points p {
    font-size: 12px;
    letter-spacing: 1px;
  }


  .mission-points {
  
  flex-direction: column; 
  gap: 10px;
  color: whitesmoke;
}

.mission-number{
    font-size: 20px;
}

#point-1, #point-2, #point-3{
    display: flex;
    gap: 2px;
    
}

 .mission-images {
      flex-direction: column; 
      align-items: center;
      gap: 5px;              
  }

  .mission-images img {
      width: 90%;             
      height: auto;     
    
  }
}


