* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #3C2418;
    color: #FFFFFF;
}


header {

    font-family: "Playfair Display", serif;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

.logo {
    font-size: x-large;
    color: #e6d5cf;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 65px;
}

nav li {
    margin-left: 15px;
}

#search {
    padding: 5px 25px;
    font-size: medium;
    border: 3px solid white;
    border-radius: 1px;
    background: transparent;
    color: white;
    text-align: center;
}

#searching {
    padding: 12px;
    align-items: center;
    gap: 25px;
    display: flex;
}

.icon {
    font-size: x-large;
}


.vision-section {
    padding: 80px 0;
    background-color: #3C2418;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 60px;
}

.container:first-child {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
    margin-bottom: 60px;
}


.vision-left {
    padding-top: 20px;
}

.vision-title {
    font-size: 64px;
    font-weight: 400;
    color: #e6d5cf;
    margin-bottom: 30px;
    line-height: 1.2;
}

.vision-subtitle {
    font-size: 16px;
    color: #e6d5cf;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;

}

.vision-right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
}

.vision-item {
    padding-top: 20px;
}

.vision-header {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.vision-number {
    font-size: 48px;
    font-weight: 300;
    color: #FFFFFF;
    line-height: 1;
}

.vision-text {
    flex: 1;
}

.vision-heading {
    font-size: 24px;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 12px;
}

.vision-para {
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 300;
    opacity: 0.9;
}

.images-wrapper {
    display: grid;
    grid-template-columns: 1fr 1.8fr;
    gap: 30px;
}

.image-box {
    width: 100%;
    overflow: hidden;

}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.image-box:first-child {
    height: 400px;
    width: 30%;
}

.image-box:last-child {
    height: 400px;
    width: 60%;
}


.contact-section {
    padding: 80px 0;
    background-color: #3C2418;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 60px;
}


.contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 200px;
    align-items: center;
}

.contact-left {
    padding-right: 90px;
}

.contact-title {
    font-size: 64px;
    font-weight: 400;
    color: #e6d5cf;
    margin-bottom: 30px;
    line-height: 1.2;
    width: 510px;
    letter-spacing: 1px;
}

.contact-intro {
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 300;
    margin-bottom: 60px;
    letter-spacing: 1px;
    opacity: 0.9;
}


.contact-block {
    margin-bottom: 60px;
    letter-spacing: 1px;
}

.contact-block:last-child {
    margin-bottom: 0;
    letter-spacing: 1px;
}

.contact-label {
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 12px;
}

.contact-value {
    font-size: 13px;
    color: #FFFFFF;
    font-weight: 300;
    margin-bottom: 20px;
}

.contact-text {
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 300;
    opacity: 0.9;
}


.contact-right {
    position: relative;
    height: 100%;
    min-height: 700px;
}

.images-container {
    position: relative;
    width: 100%;
    height: 100%;
}


.bg-img {
    padding-left: 130px;
}


.framed-image {
    position: absolute;
    top: 120px;


    border: 2px solid #FFFFFF;
    z-index: 1;

    padding: 10px;

}

.framed-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

}

.facilities-section {
    background-color: #3C2418;
    min-height: 100vh;
    padding: 80px 60px;
    display: flex;
    justify-content: space-between;

}

.container {
    max-width: 1400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}


.images-wrapper {
    flex: 1;
    display: flex;
    align-items: flex-start;
    gap: 30px;
    position: relative;
}

.image-box {
    flex-shrink: 0
}

.image-border {
    border: 3px solid #ffffff;
    padding: 20px;
    display: inline-block;
}

.main-image {
    width: 600px;
    height: 550px;
    object-fit: cover;
    display: block;
}

.secondary-image-box {
    flex-shrink: 0;
    margin-top: 80px;
    margin-right: 0px;
}

.secondary-image {
    width: 370px;
    height: 440px;
    object-fit: cover;
    display: block;
}


.content-wrapper {
    flex: 1;
    color: #ffffff;
    padding: 40px;
}

.main-title {
    font-size: 72px;
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
    line-height: 1.2;
    color: #e6d5cf;
}

.intro-paragraph {
    font-size: 16px;
    margin-bottom: 60px;
    color: rgba(255, 255, 255, 0.9);
    line-height: 1.6;
}

.facilities-list {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.facility-item {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.facility-header {
    display: flex;
    align-items: center;
    gap: 30px;
}

.facility-number {
    font-size: 52px;
    font-weight: 300;
    letter-spacing: 2px;
}

.facility-name {
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.facility-text {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.8);
    line-height: 1.6;
    padding-left: 105px;
}




@media (max-width: 1200px) {
    .container {
        padding: 0 40px;
    }

    .container:first-child {
        gap: 60px;
    }

    .vision-title {
        font-size: 52px;
        margin-bottom: 60px;
    }

    .vision-number {
        font-size: 40px;
    }

    .vision-heading {
        font-size: 22px;
    }

    .contact-grid {
        gap: 60px;
    }

    .contact-title {
        font-size: 52px;
    }

    .contact-right {
        min-height: 500px;
    }
}

@media (max-width: 968px) {
    .container:first-child {
        grid-template-columns: 1fr;
        gap: 50px;
        margin-bottom: 50px;
    }

    .vision-title {
        font-size: 48px;
        margin-bottom: 40px;
    }

    .vision-right {
        gap: 40px;
    }

    .images-wrapper {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .image-box:first-child,
    .image-box:last-child {
        height: 350px;
    }

    .contact-grid {
        grid-template-columns: 1fr;
        gap: 60px;
    }

    .contact-left {
        padding-right: 0;
    }

    .contact-title {
        font-size: 48px;
    }

    .contact-block {
        margin-bottom: 50px;
    }

    .contact-right {
        min-height: 450px;
    }


    .framed-image {
        width: 65%;
    }
}

@media (max-width: 540px) {

    header {
        flex-direction: column
    }

    .logo {
        height: 30px;
        margin-bottom: 20px;
    }

    nav ul {
        gap: 4px;
        margin-bottom: 10px;
    }

    #searching {
        padding: 12px;
        align-items: center;
        gap: 30px;
        display: flex;

    }

    .container {
        padding: 0 20px;
    }

    .vision-section {
        padding: 20px 0;
    }

    .vision-title {
        font-size: 36px;
        margin-bottom: 30px;
    }

    .vision-subtitle {
        font-size: 13px;
    }

    .vision-right {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .vision-number {
        font-size: 32px;
    }

    .vision-heading {
        font-size: 20px;
    }

    .vision-para {
        font-size: 13px;
    }

    .image-box:first-child,
    .image-box:last-child {
        height: 280px;
    }

    .container {
        padding: 0 20px;
    }

    .contact-section {
        padding: 40px 0;
    }

    .contact-title {
        font-size: 36px;
        margin-bottom: 20px;
        width: 200px;
    }

    .contact-intro {
        font-size: 13px;
        margin-bottom: 40px;

    }

    .contact-block {
        margin-bottom: 40px;
    }

    .contact-label {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .contact-value {
        font-size: 15px;
        margin-bottom: 15px;
    }

    .contact-text {
        font-size: 13px;
    }

    .contact-right {
        min-height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .bg-img {
        width: 15%;
        padding-left: 0px;

    }

    .framed-image {

        border: 1px solid #FFFFFF;
        top: 30px;
        height: 340px
    }

    .facilities-section {
        padding: 1px;
        display: flex;
        flex-direction: column;

    }

    .main-title {
        font-size: 30px;
    }

    .facility-header {
        gap: 20px;
    }

    .facility-number {
        font-size: 32px;
    }

    .facility-name {
        font-size: 22px;

    }

    .intro-paragraph {
        font-size: 15px;
        margin-bottom: 40px;
        text-align: left;

    }

    .facility-text {
        font-size: 14px;
        padding-left: 0px;
    }

    .secondary-image-box {
        flex-shrink: 0;
        margin-top: 80px;

    }

    .secondary-image {
        width: 170px;
        height: 240px;

    }
}