* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #3C2418;
    font-family: Arial, sans-serif;
    color: #FFFFFF;
}

header {

    font-family: "Playfair Display", serif; 
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

nav ul li a {
    color: #FFFFFF;          
    text-decoration: none;    
    font-size: 16px;
    transition: 0.3s;
}


.logo {
    font-size: x-large;
    color: #e6d5cf;
    
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 65px;
}

nav li {
    margin-left: 15px;
}

#search {
    padding: 5px 25px;
    font-size: medium;
    border: 3px solid white;
    border-radius: 1px;
    background: transparent;
    color: white;
    text-align: center;
}

#searching {
    padding: 12px;
    align-items: center;
    gap: 25px;
    display: flex;
}

.icon {
    font-size: x-large;
}



/* Page Wrapper */
.settings-section {
    padding: 80px 60px;
}

/* Heading */
.settings-title {
    font-size: 56px;
    font-weight: 400;
    color: #e6d5cf;
    margin-bottom: 50px;
    letter-spacing: 1px;
}

/* Settings Box */
.settings-box {
    background-color: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 450px;
    padding: 40px;
    border-radius: 4px;
}
#seting{
    color: #e6d5cf;
    margin-bottom: 18px;
    width: 600px;
    
}
/* Each Setting Option */
.setting-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
    transition: 0.3s ease;
}

.setting-item:last-child {
    border-bottom: none;
}

/* Text */
.setting-text {
    font-size: 16px;
}

/* Icon */
.icon {
    font-size: 18px;
    opacity: 0.8;
}

/* Hover Effect */
.setting-item:hover {
    opacity: 0.8;
    transform: translateX(5px);
}

/* Responsive */
@media (max-width: 500px) {

        header {
        flex-direction:column

    }

    .logo {
        height: 30px;
        margin-bottom: 20px;
    }

    nav ul {
        gap: 4px;
        margin-bottom: 10px;
    }

    #searching {
        padding: 12px;
        align-items: center;
        gap: 30px;
        display: flex;

    }

    .settings-section {
        padding: 40px 20px;
    }

    .settings-title {
        font-size: 36px;
    }
    #seting{
    color: #e6d5cf;
    margin-bottom: 18px;
    width: 280px;
    font-size: small;
    
}

    .settings-box {
        width: 100%;
        padding: 30px;
    }

    .setting-text {
        font-size: 14px;
    }
}
