html,
body {
    height: 100%;
    margin: 0;
    overflow-y: scroll;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(130, 87, 75, 0.80);
    z-index: -1;
}

body {
    background-image: url('images/bg-image.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-color: #C8B499;
    color: whitesmoke;
}

header {

    font-family: "Playfair Display", serif; 
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    font-size: x-large;
    color: #e6d5cf;
    text-decoration: none;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 55px;
}

nav ul li a {
    color: #FFFFFF;          
    text-decoration: none;    
    font-size: 16px;
    transition: 0.3s;
}


nav li {
    margin-left: 15px;
}

#search {
    padding: 5px 25px;
    font-size: medium;
    border: 3px solid white;
    border-radius: 1px;
    background: transparent;
    color: white;
    text-align: center;
}

#searching {
    padding: 12px;
    align-items: center;
    gap: 25px;
    display: flex;
}

.icon {
    font-size: x-large;
}

#main {
    display: flex;

}

#hero {
    padding: 30px;
    margin-left: 100px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 300;
    color: #F3E7DF;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.hero-img {
    width: 600px;
    padding-top: 40px;
    padding: 25px;
    border: 3px solid white;
    border-radius: 1px;

}

#right-hero {
    padding: 30px;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
}

.img-right {
    width: 470px;
    border-radius: 1px;
    margin-bottom: 40px;
    height: 220px;

}

#par {
    font-size: medium;
    width: 470px;
    margin-left: 2px;
    margin-bottom: 30px;
}

.btn {
    background: whitesmoke;
    color: #6B7280;
    padding: 10px 24px;
    border: 3px solid white;
    font-size: large;
    font-weight: 300;

}

@media (max-width: 992px) {

    nav ul {
        gap: 4px;
        margin-bottom: 10px;
    }

    .logo {
        height: 10px;
        margin-bottom: 30px;
    }

    #search {
        padding: 2px 18px;
        font-size: medium;
        border: 2px solid white;
        border-radius: 1px;
        background: transparent;
        color: white;
        text-align: center;
    }

    #searching {
        padding: 10px;
        align-items: center;
        gap: 20px;
        display: flex;
    }

    #main {
        display: flex;
        flex-direction: column;

    }

    #hero {
        padding: 20px;
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        font-family: 'Poppins', sans-serif;
        font-size: 26px;
        font-weight: 300;
        color: #F3E7DF;
        letter-spacing: 3px;

    }

    .hero-img {
        width: 600px;
        padding-top: 40px;
        padding: 25px;
        border: 3px solid white;
        border-radius: 1px;

    }

    #right-hero {
        padding: 30px;
        margin-left: 10px;
        display: flex;
        flex-direction: column;
    }

    .img-right {
        width: 640px;
        border-radius: 1px;
        margin-bottom: 40px;
        height: 380px;

    }

    #par {
        font-size: medium;
        width: 470px;
        margin-left: 2px;
        margin-bottom: 30px;
    }

    .btn {
        background: whitesmoke;
        color: black;
        padding: 10px 24px;
        border: 3px solid white;
        font-size: large;
        font-weight: 300;

    }

}

@media (max-width: 740px) {
    header {
        flex-direction: column;

    }

    .logo {
        height: 30px;
        margin-bottom: 20px;
    }

    nav ul {
        gap: 4px;
        margin-bottom: 10px;
    }

    #searching {
        padding: 12px;
        align-items: center;
        gap: 30px;
        display: flex;

    }

    #main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 16px;
        margin-left: 0px;
        margin-top: 16px;
        font-size: small;
        align-items: center;

    }

    .hero-img {
        width: 260px;
        padding-top: 40px;
        padding: 10px;
        border: 3px solid white;
        border-radius: 1px;

    }

    #right-hero {
        padding: 15px;
        margin-left: 1px;
        display: flex;
        flex-direction: column;
    }

    .img-right {
        width: 290px;
        height: 160px;
        border-radius: 1px;
        margin-bottom: 40px;

    }

    #par {
        font-size: large;
        width: 280px;
        margin-left: 2px;
        margin-bottom: 30px;
    }

    .btn {
        color: black;
        padding: 10px 24px;
        background: #e9ddd7; 
        border: 3px solid #e9ddd7  ;
        font-size: small;
        font-weight: 300;

    }

} 
